/* congfigurações gerais */
.primary-color-bkg { background: #009EE2; }
.secondary-color-bkg { background: #000000; }
.tertiary-color-bkg { background: #758697; }

.primary-color { color: #009EE2; }
.secondary-color { color: #000000; }
.tertiary-color { color: #758697; }

body {
  background: #F8F9FA;
}



h3 {
  text-transform: uppercase;
  margin: 0px 0px 15px 0px;
  text-align: center;
  padding: 5px 0px;
  border-bottom: 2px solid #009EE2;
}


input.form-control {
  background-color: white;
  border-radius: 0px;
}
.btn {
  border-radius: 0px;
  text-transform: uppercase;
  color: white;
  -webkit-transition: all 2s;
  transition: all .5s;
}
.alert {
  transition: all 1s;
}
.form-box { padding: 10px; }

.upper {
  text-transform: uppercase;
}

.middle-box{
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
}

/* Tela de registro */
.label-register{
  margin: 30px 0px;
}
.sign-up-form-box {
  border-bottom: 2px solid #758697;
}
.register .btn:hover {  
  color: white;
  background: rgb(3, 114, 161)
}

.panel {
  border-radius: 0px;
  margin: 20px;
  padding: 20px;
}

@media screen and ( max-width:768px ){
  
  .panel {
    padding: 0px;
  }


}
/* Configurações internas */
.header {
  background: white;
  border-bottom: 2px solid #009EE2;
  text-transform: uppercase;
}
.nav-top-links {
  margin: 15px;
}
.nav-top-links a {
  padding: 0px 5px;
}
.nav-top-links a.admin {
  border-right: 1px solid;
}

.vertical-space {
  margin: 10px 0px;
} 

ul.list {
  list-style: none;
}
.list .bookmark-item-title {
  font-size: 16px;
}
.action-item {
    font-size: 20px;
    margin: 10px;
}

.bookmark-item {
  border-bottom: 1px solid #758697;
  line-height: 20px;
  padding: 10px 0px;
}
@media screen and (max-width:420px){
  .header h1 {
    font-size: 25px;
  }
  .nav-top-links a {
      font-size: 17px;
      margin: 10px 0px;
      display: block;
  }
  .nav-top-links a.admin {
    border: none;
  }

}