{% extends "layout.html" %}
{% block content %}

    <div class="container-fluid header">
        <header>
            <div class="col-xs-12 col-md-6">
                <h1 class="primary-color upper"><i class="glyphicon glyphicon-bookmark"></i> My Bookmarks</h1>
            </div>
            <div class="col-xs-12 col-md-6 tertiary-color">
                    <nav class="nav-top-links text-right">
                        <div class="user-logged"><i class="glyphicon glyphicon-user"></i> {{user.name}}</div>
                        <a class="admin" href="{{url_for('auth.index')}}"> <i class="glyphicon glyphicon-bookmark"></i> Minha Área</a>
                        <a class="" href="{{url_for('auth.signOut')}}"><i class="glyphicon glyphicon-log-out"></i> Sair</a>
                    </nav>
            </div>
        </header> 
    </div>

    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-xs-12">
                        <h4 class="tertiary-color upper"><i class="glyphicon glyphicon-bookmark"></i> Filtrar bookmarks por usuário </h4>
                    </div>
                    <form role="form" class="form" action="{{url_for('admin.find')}}" method="post" >
                        <div class="col-xs-12 col-md-6 vertical-space">
                            <select name="mybookemark-user" id="mybookemark-user" class="form-control">
                                <option value="">Escolha um usuário </option>
                                {% for u in userList %}
                                <option value="{{u._id}}">{{u.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xs-12 col-md-2 vertical-space ">
                            <button type="submit" class="btn primary-color-bkg btn-block">Buscar</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        {% if userSelected is defined %}
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="col-xs-12 list bookmar-list" id="accordion" role="tablist" aria-multiselectable="true">
                        {% for bookmark in bookmarkList %}
                        <li class="col-xs-12 bookmark-item">
                            <div class="" role="tab" id="item-{{bookmark._id}}">
                                <div class="col-xs-12 col-md-8 bookmark-item-title upper tertiary-color"><a class="tertiary-color" href="{{bookmark.url}}" target="_blank" ><i class="glyphicon glyphicon-link"></i> {{bookmark.name or bookmark.url }}</a></div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    {% if bookmarkList|length == 0 %}
                    <h2 class="text-center tertiary-color">{{userSelected.name}} ainda não cadastrou nenhum bookmark</h2>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>   
{% endblock %}