{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <nav>
                {{user.name}}
                <div class="col-xs-12 col-md-4 pull-right">
                    {% if user.admin == true %}
                    <a href="">Admin</a>
                    {% endif %}
                    <a href="{{url_for('auth.signOut')}}">Sair</a>
                </div>
        </nav>
    </div>
  
    <div class="row">
        <form role="form" class="form" action="{{url_for('bookmark.create')}}" method="post" >
            <div class="col-md-10">
                <input type="hidden" name="bookmark-owner" value="{{user._id}}">
                <input type="text" name="bookmark-name" class="form-control" placeholder="Meu bookmark">
                <input type="text" name="bookmark-url" class="form-control" placeholder="http://meusitepreferido.com.br">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn primary-color-bkg btn-block">Cadastrar</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="bookmark-list">
            <ul id="acordion" role="tablist" aria-multiselectable="false" >
                {% for bookmark in bookmarkList %}
                    <li>
                        <a href="{{bookmark.url}}" target="_blank">{{bookmark.name}}</a>
                        <a class="btn btn-primary " role="button" data-toggle="collapse" data-parent="#accordion" href="#{{bookmark._id}}" aria-expanded="true" aria-controls="{{bookmark._id}}"  >editar</a>
                        <a  class="btn btn-danger" href="{{url_for('bookmark.delete', id=bookmark._id)}}">deletar</a>
                        <div class="panel-collapse  collapse" id="{{bookmark._id}}" role="tabpanel"  role="tabpanel" >
                            <form action="{{url_for('bookmark.edit', id=bookmark._id)}}" method="post" >
                                <input type="hidden" name="bookmark-owner" value="{{bookmark.owner}}">
                                <input type="text" name="bookmark-name" value="{{bookmark.name}}" >
                                <input type="text" name="bookmark-url" value="{{bookmark.url}}" >
                                <div> <a class="btn btn-cancel" data-toggle="collapse" href="#{{bookmark._id}}" aria-expanded="false" aria-controls="collapseExample" >Cancelar</a> </div>
                                <div> <button type="submit" class="btn btn-primary" >Salvar</button> </div>
                            </form>
                        </div>
                    </li>
                {% endfor %}
                {% if bookmarkList|length == 0 %}
                <li>Não perca mais tempo, cadastre já seu primeiro bookmark</li>
                {% endif %}
            </ul>
        </div>
    </div>
        
{% endblock %}